
html, body {
  margin: 0;
  padding: 0;
}
/* ---- grid ---- */

.grid {
    background: transparent;
    width: 90vw;
    height: 90vh
  }
  
  /* ---- .grid-item ---- */
  
  .grid-item {
    float: left;
    width: 100px;
    height: 100px;
    background: #333;
    border: 2px solid hsla(0, 0%, 0%, 0.5);
  }
  
  .grid-item--width2 { width: 200px; }
  .grid-item--height2 { height: 200px; }
  
  .grid-item:hover {
    border-color: hsla(0, 0%, 100%, 0.5);
    cursor: move;
  }
  
  .grid-item.ui-draggable-dragging,
  .grid-item.is-positioning-post-drag {
    background: #C90;
    z-index: 2;
  }
  
  .packery-drop-placeholder {
    outline: 3px dashed hsla(0, 0%, 0%, 0.5);
    outline-offset: -6px;
    -webkit-transition: -webkit-transform 0.2s;
            transition: transform 0.2s;
  }


  /*  grid clear fix */
  .grid:after {
    content: '';
    display: block;
    clear: both;
  }
  

  /* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  background: transparent;
  
  padding: 30px;
  border-radius: 10px;
  width: 90vw;
  height: 50vh;
  overflow-y: initial !important
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}